<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Success</title>
    <!-- Favicon  -->
    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap" rel="stylesheet">
    <!-- font awesome -->
    <script src="https://kit.fontawesome.com/4ca1a98fd1.js" crossorigin="anonymous"></script>
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Mycustom style sheet  -->
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <!--Header SMIT logo  -->
    <div class="container-fluid">
        <a href="/">
            <img class="smitlogoImage" src="assets/img/smit_logo.png" alt="Smit logo">
        </a>
    </div>
    <div  class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Success <i class="fas fa-thumbs-up"></i> </h1>
            <p class="lead">Thanks, Your response has been recorded.</p>
            {{msg}}
        </div>
    </div>
</body>
</html>